@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-Hairline.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-Thin.ttf') format('truetype');
    font-weight: 200; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-ExtraLight.ttf') format('truetype');
    font-weight: 200; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-Light.ttf') format('truetype');
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-SemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-ExtraBold.ttf') format('truetype');
    font-weight: 800; 
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Bunch-Heavy.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
 margin: 0;
 background-color: #F5F5F5;
 padding: 20px;
}

/* navbar section style start*/
.nav-section {
    background-image: url('/assets/images/Vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F5F5F5;
}
.nav{
    display: flex ;
    color: #7F7F7F;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;;
    background: none;
    font-weight: 600;
    font-size: 16px;
    max-width: 1400px;
    margin: 0 auto;
}

.nav img{
    width: 121px;
    height: 28px;
}

.nav ul{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    gap: 20px;
    list-style: none;
    border-radius: 80px;
    
}

.nav-item {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nav-item .dot {
    display: none; 
}

.nav-item.active {
    color: #FE5000; 
}

.nav-item.active .dot {
    display: block;
}

.nav button{
    background-color: #193D42;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #0C0F10;
    border-radius: 40px;
    cursor: pointer;
    height: 60px;
    width: 148px;
    font-family: 'Inter', sans-serif;;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 1px 1px 3px rgba(25, 61, 66, 1) inset,
                0px 1px 2px 0px rgba(2, 45, 51, 0.5); 
}

.menu-content {
    width: 100%; 
}
.close-btn-container p{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFFFFF66;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
}

.chat-btn-sm{
    background-color: #FFFFFF;
    color: #022D33;
    padding: 10px 20px;
   border: none;
    border-radius: 40px;
    cursor: pointer;
    height: 60px;
    width: 148px;
    font-family: 'Inter', sans-serif;;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    margin-top: 50px;
}


.menu-overlay {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #022D33;
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu-content ul {
    list-style: none;
    margin: 0; 
    margin-top: -100px;
    padding: 0;
    width: 100%; 
}

.menu-content li {
    border-bottom: #FFFFFF1A 1px solid;
    width: 100%; 
    padding: 0px 0px 20px 0px;
    margin: 10px 0px;
    display: flex; 
}
#chat-btn-li{
border-bottom: none;
}
.menu-content a {
    width: 100%;
    font-family: "CustomFont", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 44.08px;
    color: #FFFFFF;
    text-decoration: none;
    
}


#close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #FFFFFF !important;
    border: none !important;
    border-radius: 99px;
    display: block !important;
    font-family: 'Inter', sans-serif !important;
    width: 114px !important;
    height: 48px !important;
font-weight: 600 !important;
font-size: 16px !important;
line-height: 20px !important;
letter-spacing: 0.16px !important;
text-align: center !important;
background-color: #DFDFDF1A !important;
box-shadow: none !important;
}

.bar-btn{
    display: none !important;
}

/* navbar section style end */

/* hero section style start */
.title-section{
    font-family: 'CustomFont', sans-serif;
    font-weight: 600; 
    font-size: 120px;
    line-height: 139.2px;
    text-align: center;
    color: #022D33;
    max-width: 1400px;
    margin: 78px auto 0px auto;
}

.title-section div div{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.title-section h1 {
    margin: 0;
    padding: 0;
}

.hero-image{
    margin-top: 100px;
}
.hero-image img{
    width: 100%;
}

/* hero section style end */


/* contact and service section style start */
.contact-section{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.contact-box{
    width: 448px;
    height: 295px;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 40px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}
.contact-title{
    font-family: 'Inter', sans-serif;;
    font-weight: 600; 
    font-size: 20px;
    color: #022D33;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-btn a {
font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 24.2px;
color: #FE5000;
text-decoration: none;
}

.contact-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-box{
    width: 944px;
    background-color: #FFFFFF;
    padding: 40px ;
    border-radius: 40px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 40px; 
}
.service-box button {
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
    font-size: 16px;
    background-color: transparent;
    color: #022D33;
    border: #DCDCDC 1px solid;
    border-radius: 50px;
    padding: 8px 16px; 
    min-height: 44px; 
    line-height: normal;
    white-space: nowrap; 
}
.service-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 326px;
    gap: 10px;
    align-items: center;
}

.service-img{
    width: 205px;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    align-items: center;
}

.service-img h1{
    font-family: 'CustomFont', sans-serif;
    font-weight: 500; 
    font-size: 36px;
    line-height: 41.76px;
    color: #022D33;
}
.service-img h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
    font-size: 18px;
    line-height: 21.78px;
    color: #022D33;
}

/* contact and service section style end */


/* brand logo slider section style start */
.brand-section h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500; 
    font-size: 20px;
    line-height: 24.2px;
    color: #022D33;
    text-align: center;
    margin: 80px 0 80px 0;
}

.brand-section {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding: 40px 0;
    background: transparent;
}

.brand-logos {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 50px 0;
}

.logo-slider {
    display: flex;
    gap: 70px;
    animation: scroll 15s linear infinite;
    width: max-content; 
}

.logo-slider img {
    height: 60px;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* brand logo slider section style end */

/* work and carousel section style start */
.work-section{
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 40px;
 background-color: #022D33;
}

.work-section h1{
    font-family: 'CustomFont', sans-serif;
    font-weight: 600; 
    font-size: 70px;
    line-height: 60.2px;
    color: #FFFFFF;
}

.work-buttons button {
    height: 80px;
    width: 80px;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
    background-color: #FFFFFF1A;
}

.work-buttons :hover {
    background-color: #FE5000;
}

#work-button-sm {
    display: none; /* Hide on large screens */
}
.work-title{
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-items img{
width: 100%;
height: 682px;
border-radius: 50px;
}

.carousel-items{
    padding: 40px 12px;
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.carousel-items div {
    min-width: 300px;
    flex-shrink: 0;
    text-align: center;
}

.carousel-items h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: start;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* work and carousel section style end */

/*faq accordion section style start */
.accordion {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 8px;
  }
  
  .accordion-item {
    border-bottom: 0.5px solid #F6F7F9;
    border-radius: 8px;
  }
  
  .accordion-input {
    display: none;
  }

  .accordion-title i {
    background-color: #ECEEF2;
    padding: 8px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #022D33;
    font-size: 12px;
    width: 28px; /* Fixed width */
    height: 28px; /* Fixed height */
    flex-shrink: 0; /* Prevent shrinking on small screens */
}
  
  .accordion-title {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #FFFFFF;
    color: #23272E;
    cursor: pointer;
 font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.3s ease;
  }
  

  
  .accordion-input:checked + .accordion-title {
    color: #FE5000;
    background-color: #F6F7F9;
  }
  
  
  .accordion-input:checked + .accordion-title i {
    transform: rotate(180deg);
  }
  
  .accordion-content {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: none;
    padding: 16px;
    background-color: #F6F7F9;
    border-radius: 5px;
  }
  
  .accordion-input:checked + .accordion-title + .accordion-content {
    display: block;
  }

  .accordion-section{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 70px 70px;
  }
  .accordion-section-title{
    font-family: 'CustomFont', sans-serif;
    font-weight: 600; 
    font-size: 70px;
    line-height: 60.2px;
    color: #022D33;
    margin: 0;
  }

  .accordion-section button{
    background-color: #193D42;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #0C0F10;
    border-radius: 40px;
    cursor: pointer;
    height: 60px;
    width: 174px;
    font-family: 'Inter', sans-serif;;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    font-size: 16px;
    box-shadow: 0px 1px 1px 3px rgba(25, 61, 66, 1) inset,
                0px 1px 2px 0px rgba(2, 45, 51, 0.5); 
  }

  .faq-btn-sm{
    display: none !important;
  }

  /*faq accordian section style end */


    /*footer section style start */
  
  .footer-section {
    position: relative;
    background-color: #022D33;
    border-radius: 40px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/Vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    z-index: 0;
}

.footer-section * {
    position: relative;
    z-index: 1; 
}

.footer-title h1{
   display: flex;
   justify-content: center;
   justify-items: center;
    text-align: center;
    font-family: 'CustomFont', sans-serif;
    font-weight: 600; 
    font-size: 70px;
    line-height: 74.2px;
    color: #FFFFFF;
    padding: 50px 0;
    margin: 0 auto;
}

.footer-title button{
    background-color: #FFFFFF;
    color: #022D33;
    padding: 10px 20px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    height: 68px;
    width: 204px;
    font-family: 'Inter', sans-serif;;
    font-weight: 600;
    font-size: 16px;
    margin: 40px auto;
    line-height: 19.36px;
}

.footer-links-title{
    color: #FFFFFF99;
    font-family: 'Inter', sans-serif;;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
}

.footer-links-right-links ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.footer-links-right{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
}
.footer-links{
    padding: 40px;
}

/* footer section style end */



/* for small devices */
@media screen and (max-width:576px) {
    body{
        max-width: 100%;
        padding: 16px;
        margin: auto;
    }

    /* navbar section style start */

    .nav-section {
        background-image: none;
    }

    .nav ul{
        display: none;
    }
    .chat-btn{
        display: none !important;
    }
    .bar-btn{
        color: #7F7F7F !important;
        border: none !important;
        display: block !important;
        font-family: 'Inter', sans-serif !important;
        width: 104px !important;
        height: 46px !important;
font-weight: 600 !important;
font-size: 16px !important;
line-height: 19.36px !important;
letter-spacing: 0% !important;
text-align: center !important;
background-color: #FFFFFF !important;
box-shadow: none !important;
    }
    .nav button{
        padding: 10px 10px;
        width: 100px;
        font-size: 14px;
    }

    .burger-menu {
        display: block;
    }

    /* navbar section style end */

    /* hero section style start */
    .hero-image img{
        width: 100%;
    height: 356px;
    object-fit: cover; 
    object-position: center;
    border-radius: 36px;
    margin-top: -80px;
    }

    .title-section{
        font-size: 50px !important;
        text-align: center !important;
        color: #022D33  !important;
        line-height: 64.96px    !important;
        margin: 50px auto 0px auto  !important;
    }
    .title-section li{
        height: 35px !important;
        width: 47px !important;
    }
    .agency-logo{
        height: 35.74px !important;
        width: 35.74px !important;
    }
    #vector{
        width: 47px !important;
    }

    /* hero section style end */

    /* contact and service section style start */
    .contact-title{
        flex-direction: column-reverse;
        align-items: normal;
    }
    .contact-section{
        flex-direction: column;
        width: 100%;
    }
    .contact-box{
        width: 100%;
        margin-bottom: 20px;
        padding: 32px 32px 32px 32px;
    }
    .service-box{
        width: 100%;
        height: 100%;
        flex-direction: column;
     padding: 32px;
    }
    
    /* contact and service section style end */

    /* brand logo slider section style start */
    .brand-section h1{
        width: 294px;
        margin: 80px auto;
    }
    .brand-logos{
        margin: 20px 0;
    }
    /* brand logo slider section style end */

    /* work and carousel section style start */
    .work-section h1{
        font-size: 52px;
        line-height: 44.72px;
    }
    .work-buttons {
        display: none; 
    }

    #work-button-sm {
        display: flex; 
        justify-content: center;
        gap: 10px;
        padding-bottom: 95px;
    }

    #work-button-sm button {
        height: 80px;
        width: 80px;
        border-radius: 24px;
        border: none;
        color: #FFFFFF;
        background-color: #FFFFFF1A;
    }
    #work-button-sm button:hover {
        background-color: #FE5000;
    }
    .work-title{
        padding: 40px 44px;
        justify-content: center;
        text-align: center;
        margin: 0px;
    }
    .carousel-items img{
        height: 460px;
        width: 326px;
    }
    .carousel-items h2{
        font-size: 20px;
    }

    /* work and carousel section style end */

    /*faq accordion section style start */
    .accordion{
        border-radius: 8px;
    }
    .accordion-title{
        gap: 12px;
        align-items: normal;
    }
    .accordion-subtitle{
        justify-items: center;
        justify-content: center;
    }
    .accordion-section{
        grid-template-columns: 1fr;
        padding: 40px 0px;
    }
    .accordion-section-title{
        font-size: 52px;
        line-height: 44.72px;
        text-align: center;
    }
    .faq-btn-lg{
        display: none !important;
    }
    .faq-btn-sm{
        display: block !important;
        background-color: #193D42;
        color: #fff;
        padding: 10px 20px;
        border: 2px solid #0C0F10;
        border-radius: 40px;
        cursor: pointer;
        height: 60px;
        width: 174px;
        font-family: 'Inter', sans-serif;;
        font-weight: 600;
        font-size: 16px;
        margin:24px auto;
        font-size: 16px;
        box-shadow: 0px 1px 1px 3px rgba(25, 61, 66, 1) inset,
                    0px 1px 2px 0px rgba(2, 45, 51, 0.5); 
    }

    /*faq accordian section style end */

    /*footer section style start */
    .footer-title h1{
        font-size: 52px;
        line-height: 47.84px;
    }
    .footer-title button{
        margin: 20px auto 60px auto;
    }
    #footer-contact {
        max-width: 84px; /* Prevents exceeding 84px */
        word-wrap: break-word;
    }
    #footer-contact li {
        max-width: 84px;
        word-wrap: break-word;
    }
    #link-for-lg{
        display: none;
    }
    .footer-links-right-links ul{
        flex-direction: column;
    }
    #link-for-sm {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        width: 100%;
     
    }
    .footer-links{
        padding: 0px;
    }
    .footer-section::before{
        background-image: none;
    }
    /*footer section style end */
}


/* for medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    body{
        max-width: 100%;
        padding: 16px;
        margin: auto auto;
    }

    /* hero section style start */
    .hero-image img{
        width: 100%;
    }
    .title-section{
        font-family: 'CustomFont', sans-serif !important;
        font-weight: 600 !important; 
        font-size: 60px !important;
        text-align: center !important;
        color: #022D33  !important;
        line-height: 64.96px    !important;
        margin: 50px auto   !important;
    }
    .title-section li{
        height: 35px !important;
        width: 47px !important;
    }
    .agency-logo{
        height: 35.74px !important;
        width: 35.74px !important;
    }
    .agency-logo{
        height: 35.74px;
    }

    /* hero section style end */

    /* contact and service section style start */

    .contact-title{
        flex-direction: column-reverse;
        align-items: normal;
    }
    .contact-section{
        flex-direction: column;
        width: 100%;
    }
    .contact-box{
        width: 100%;
        margin-bottom: 20px;
        padding: 32px 32px 32px 32px;
    }
    .service-box{
        width: 100%;
        height: 100%;
        flex-direction: column;
     padding: 32px;
    }


    .work-section h1{
        font-size: 52px;
        line-height: 44.72px;
    }
    .work-buttons {
        display: none; 
    }

    #work-button-sm {
        display: flex; 
        justify-content: center;
        gap: 10px;
        padding-bottom: 95px;
    }

    #work-button-sm button {
        height: 80px;
        width: 80px;
        border-radius: 24px;
        border: none;
        color: #FFFFFF;
        background-color: #FFFFFF1A;
    }
    #work-button-sm button:hover {
        background-color: #FE5000;
    }
    .work-title{
        padding: 40px 44px;
        justify-content: center;
        text-align: center;
        margin: 0px;
    }

    /* contact and service section style end */

    /* work and carousel section style start */
    .carousel-items img{
        height: 460px;
        width: 326px;
    }
    .carousel-items h2{
        font-size: 20px;
    }

    /* work and carousel section style end */


    /*faq accordion section style start */
    .accordion{
        border-radius: 8px;
    }
    .accordion-title{
        gap: 12px;
        align-items: normal;
    }
    .accordion-subtitle{
        justify-items: center;
        justify-content: center;
    }
    .accordion-section{
        grid-template-columns: 1fr;
        padding: 40px 16px;
    }
    .accordion-section-title{
        font-size: 52px;
        line-height: 44.72px;
        text-align: center;
    }
    .faq-btn-lg{
        display: none !important;
    }
    .faq-btn-sm{
        display: block !important;
        background-color: #193D42;
        color: #fff;
        padding: 10px 20px;
        border: 2px solid #0C0F10;
        border-radius: 40px;
        cursor: pointer;
        height: 60px;
        width: 174px;
        font-family: 'Inter', sans-serif;;
        font-weight: 600;
        font-size: 16px;
        margin:24px auto;
        font-size: 16px;
        box-shadow: 0px 1px 1px 3px rgba(25, 61, 66, 1) inset,
                    0px 1px 2px 0px rgba(2, 45, 51, 0.5); 
    }

    /*faq accordian section style end */

    /*footer section style start */
    
    .footer-title h1{
        font-size: 52px;
        line-height: 47.84px;
    }
    .footer-title button{
        margin: 20px auto 60px auto;
    }
    #footer-contact {
        max-width: 84px; 
        word-wrap: break-word;
    }
    #footer-contact li {
        max-width: 84px;
        word-wrap: break-word;
    }
    #link-for-lg{
        display: none;
    }
    .footer-links-right-links ul{
        flex-direction: column;
    }
    #link-for-sm {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%;
     
    }
    .footer-links{
        padding: 0px;
    }
    .footer-section::before{
        background-image: none;
    }

    /*footer section style end */
}